[submodule "coverletter-builder/coverletter-builder"]
	path = coverletter-builder/coverletter-builder
	url = git@github.com:aaronwolen/pandoc-letter.git
[submodule "cv-builder/pandoc_resume"]
	path = cv-builder/pandoc_resume
	url = git@github.com:mszep/pandoc_resume.git
