services:
  cv-builder:
    image: threepipes/cv-builder
    build:
      context: cv-builder
    volumes:
      - ./cv-builder/sample/CV.md:/home/app/resume/markdown/resume.md
      - ./output:/home/app/resume/output
  pandoc-letter:
    image: pandoc-letter
    build:
      context: coverletter-builder/coverletter-builder
  coverletter-builder:
    image: threepipes/coverletter-builder
    build:
      context: coverletter-builder
    depends_on:
      - pandoc-letter
    volumes:
      - ./coverletter-builder/sample/letter.md:/app/letter.md
      - ./output:/output
